/**
**
** Styles
**
**/

// Materialize
@import "variables"; //brand color scheme
@import "www/lib/Materialize/sass/materialize.scss";

//Custom Styling
body {
  color: #59626A;
  background-color: #EFF3F6;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

// Typography
h1 {
  font-size: 3rem;
  color: #323B43;
  text-align: center;
  margin-top: 5px;
}
h2{
  font-size: 2rem;
  font-weight: 300;
  color: #323B43;
  text-align: center;
}
p {
  text-align: justify;
}

// Primary Menu
#primary-menu {
  height: 100px;
  nav {
    height: 100px;
    line-height: 100px;
    .brand-logo {
      padding-top: 8px;
    }
    i {
      line-height: 100px;
    }
  }
  i.right {
    margin-left: 0;
  }
}

// Mobile menu
@media #{$medium-and-down} {
  #nav-mobile {
    background-color: $primary-color;
    a {
      color: #fff;
    }
  }
}

//Breadcrumbs
.breadcrumb {
  font-size: 1rem;
  &:before {
    font-size: 1.2rem;
  }
  .material-icons {
    padding-right: 8px;
  }
}

#page-content {
  margin-top: 10px;
  //Side menu
  .collection {
    margin-top: 80px;
    i {
      vertical-align: middle !important;
      padding-right: 8px;
    }
  }
}

@media #{$medium-and-down} {
  #page-content {
    .collection {
      margin-top: 10px;
    }
  }
}

//Footer
.icons-social {
  display:inline;
  li {
    float: left;
    padding-right: 25px;
    padding-bottom: 20px;
  }
  i {
    color: #fff;
  }
}

.footer-copyright {
  background-color: darken($primary-color, 3%) !important;
}
