/**
**
** Styles
**
**/

// Materialize
@import "variables"; //brand color scheme
@import "www/lib/Materialize/sass/materialize.scss";

// Custom Styling
body {
  color: #59626A;
  background-color: #EFF3F6;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

// Typography
h1 {
  font-size: 3rem;
  color: #323B43;
  text-align: center;
  margin-top: 5px;
}
h2{
  font-size: 2rem;
  font-weight: 300;
  color: #323B43;
}
p {
  text-align: justify;
}

// desktop menu
#primary-menu {
  height: 100px;
  nav {
    height: 100px;
    line-height: 100px;
    .brand-logo {
      padding-top: 8px;
    }
    i {
      line-height: 100px;
    }
  }
  i.right {
    margin-left: 0;
  }

  // mobile menu
  .side-nav {
    background-color: $primary-color;
    padding-top: 30px;
    a, i{
      color: #fff;
      height: 48px;
      line-height: 48px;
    }
    li {
      &:hover {
        // display: none;
        background-color: lighten($primary-color, 8%) !important;
      }
    }
    .active {
      background-color: darken($primary-color, 8%);
    }
  }
}

// breadcrumbs
.breadcrumb {
  font-size: 1rem;
  &:before {
    font-size: 1.2rem;
  }
  .material-icons {
    padding-right: 8px;
  }
}

#page-content {
  margin-top: 10px;
  //Side menu
  .collection {
    margin-top: 80px;
    i {
      vertical-align: middle !important;
      padding-right: 8px;
    }
  }
}

@media #{$medium-and-down} {
  // side nav
  #page-content {
    .collection {
      margin-top: 10px;
    }
  }
}

// footer
.icons-social {
  display:inline;
  li {
    float: left;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  i {
    color: #fff;
  }
}

.footer-copyright {
  background-color: darken($primary-color, 3%) !important;
}

// sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#page-content {
  flex: 1 0 auto;
}

//Team
.manager {
  .manager-name {
    display: block;
    font-size: 1.5rem;
  }
  .manager-position {
    display: block;
    font-style: italic;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.team {
  .card-image {
    padding: 5px;
  }
  .team-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: $primary-color;
    .material-icons {
      margin-left: 0;
      line-height: 48px;
    }
  }
  .team-department {
    display: block;
    font-size: 1.2rem;
    color: $secondary-color;
  }
  .team-position {
    display: block;
    font-size: 1.2rem;
  }
  .team-phrase {
    display: block;
    font-style: italic;
    margin-top: 10px;
  }
}
