<!-- side menu -->
<div class="col m3 s12">
  <div id="about_sidenav" class="collection">
    <a href="about-us.php" class="collection-item">
      <i class="small material-icons">domain</i> About Us
    </a>
    <a href="team.php" class="collection-item">
      <i class="small material-icons">people</i> Team
    </a>
    <a href="projects.php" class="collection-item">
      <i class="small material-icons">favorite</i> Projects
    </a>
    <a href="services.php" class="collection-item">
      <i class="small material-icons">speaker_group</i> Services
    </a>
  </div>
</div>
