<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum accusamus at explicabo voluptas quaerat praesentium aliquam natus beatae odit illum nulla aperiam dolor, doloremque aliquid id tenetur, voluptatibus, qui. Quasi.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social Links</h5>
        <ul class="icons-social">
          <li><a href="https://www.facebook.com/twr.kenya" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a></li>
          <li><a href="https://twitter.com/twrkenya">
            <i class="fa fa-twitter fa-2x"></i>
          </a></li>
          <li><a href="https://www.linkedin.com/in/twr-kenya-b3822565">
            <i class="fa fa-linkedin fa-2x"></i>
          </a></li>
          <li><a href="https://www.instagram.com/twrkenya/">
            <i class="fa fa-instagram fa-2x"></i>
          </a></li>
          <li><a href="https://plus.google.com/113760674190514308483/posts">
            <i class="fa fa-google fa-2x"></i>
          </a></li>
          <li><a href="https://www.youtube.com/channel/UCKlivN4kx8rOoVQs9UfLyOQ">
            <i class="fa fa-youtube fa-2x"></i>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Trans World Radio Kenya © 2016
      <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
    </div>
  </div>
</footer>
<!-- scripts -->
<script type="text/javascript" src="js/app.js"></script>
