<!-- Navigation Links -->
<div id="primary-menu" class="navbar-fixed">
  <!-- About Dropdown Structure -->
  <ul id="dropdown-about" class="dropdown-content">
    <li><a href="about-us.php">About us</a></li>
    <li class="divider"></li>
    <li><a href="team.php">Team</a></li>
    <li class="divider"></li>
    <li><a href="projects.php">Projects</a></li>
    <li class="divider"></li>
    <li><a href="services.php">Services</a></li>
  </ul>

  <!-- Radio Dropdown Structure -->
  <ul id="dropdown-radio" class="dropdown-content">
    <li><a href="radio.php">Sifa FM - Lamu</a></li>
    <li class="divider"></li>
    <li><a href="radio.php">Sifa FM - Voi</a></li>
    <li class="divider"></li>
    <li><a href="radio.php">Sifa FM - Garissa</a></li>
    <li class="divider"></li>
    <li><a href="radio.php">Maata Radio</a></li>
  </ul>

  <!-- Gallery Dropdown Structure -->
  <ul id="dropdown-gallery" class="dropdown-content">
    <li><a href="photo-gallery.php">Photo Gallery</a></li>
    <li class="divider"></li>
    <li><a href="video-gallery.php">Video Gallery</a></li>
  </ul>

  <!-- Desktop Menu -->
  <nav class="white" role="navigation">
    <div id="navbar" class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
        <img src="img/twr-logo.svg" alt="TWR Kenya" width="134" height="80">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.php">Home</a></li>
        <li>
          <a class="dropdown-button" href="about-us.php" data-activates="dropdown-about">
            About us<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button" href="radio.php" data-activates="dropdown-radio">
            Radio<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li><a href="#">Blog</a></li>
        <li>
          <a class="dropdown-button" href="photo-gallery.php" data-activates="dropdown-gallery">
            Gallery<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li><a href="contact-us">Contact Us</a></li>
        <li><a class="waves-effect waves-light btn">Donate</a></li>
      </ul>

      <!-- Mobile & Tablet Menu -->
      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.php"><i class="material-icons left">home</i>Home</a></li>
        <li class="active"><a href="about-us.php"><i class="material-icons left">people</i>About us</a></li>
        <li><a href="radio.php"><i class="material-icons left">radio</i>Radio</a></li>
        <li><a href="blog.php"><i class="material-icons left">book</i>Blog</a></li>
        <li><a href="gallery.php.php"><i class="material-icons left">photo</i>Gallery</a></li>
        <li><a href="contact-us.php"><i class="material-icons left">message</i>Contact Us</a></li>
        <li><a class="waves-effect waves-light btn"><i class="material-icons left">favorite</i>Donate</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
